@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
* {
  font-family: "Sora", sans-serif;
  list-style: none;
}
:root {
  --primary-color: #ed1b23;
  --secondary-color: #101828;
  --white-color: #ffffff;
  --theme-black-color: #101828;
  --para-color: #667085;
}
/* ! Call Button Modal Section Start */
.commonBox strong{
  color: var(--primary-color);
}
/* ! Call Button Modal Section End */
/* ! Sign In Modal Section Start */
#SignInModal{
  margin-top: 100px;
}
.signBtn{
  background-color: var(--primary-color);
  height: 50px;
}
/* ! Sign In Modal Section End */
/* ! Header Section Start */
header {
  background-color: var(--secondary-color);
}
header img {
  width: 100px;
}
#navbarNav > ul {
  column-gap: 25px;
}
#navbarNav > ul > li > a {
  color: var(--white-color);
  font-size: 14px;
}
#navbarNav > ul > li > a:hover {
  background-color: #202b41;
  border-radius: 5px;
}
.btnGroup > button:first-child {
  background-color: #667085;
  width: 42px;
  height: 42px;
  border-radius: 5px;
  border: none;
  margin: 0px 10px;
}
.btnGroup > button:nth-child(2) {
  height: 42px;
  font-weight: bold;
  font-size: 14px;
  padding: 0px 15px;
}
.barIcon {
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 20px;
}
/* ! Header Section End */
/* ! Hero Section Start */
.main-hero {
  background-image: linear-gradient(
    261.99deg,
    #ffe3dd 2.82%,
    #fff8da 17.1%,
    rgba(255, 249, 221, 0) 31.78%,
    hsla(0, 100%, 90%, 0.04) 50.27%,
    rgba(255, 249, 221, 0.35) 67.28%,
    #ffeee9 77.89%,
    rgba(255, 238, 233, 0.14) 91.09%
  );
  padding: 30px 0px;
}
.carousel-indicators {
  bottom: -70px;
}
.carousel-indicators > button {
  width: 10px !important;
  height: 10px !important;
  background-color: var(--theme-black-color) !important;
  border-radius: 50%;
}
.carousel-indicators > button.active {
  background-color: black !important;
}
.hero-form {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: var(--secondary-color);
}
.hero-form > h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white-color);
}
::placeholder {
  font-size: 18px;
}
#form-select--box {
  border: 1px solid #ccc;
  color: var(--para-color);
  padding: 0px 13px;
}
.formBtn {
  padding: 15px 0px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 700;
  margin-top: 14px;
}
/* ! Hero Section End */
/* ! Strategic Preparation Section Start */
.common-H2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: center;
  color: var(--theme-black-color);
}
.common-span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--para-color);
}
.strategy-Card {
  transition: 0.5s;
}
.strategy-H5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--theme-black-color);
}
.card-h5--span {
  color: var(--primary-color);
}
.strategy-Card::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: 0.5s;
}
.strategy-Card:hover.strategy-Card::after {
  width: 100%;
}
.strategy-Card:hover {
  transform: translateY(-15px);
}
.strategy-Card:hover .span-red {
  cursor: pointer;
  color: var(--primary-color);
}
/* ! Strategic Preparation Section End */
/* ! Coaching Programs Section Start */
.coaching-programs {
  background-color: var(--secondary-color);
}
.judiciary-items {
  background: url("../images/courses-card-bg.webp") no-repeat;
  background-size: cover;
  height: 450px;
  padding: 0;
  position: relative;
  transition: 0.5s;
}
.judiciary-items:hover .judiciary-items--overlay {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.judiciary-items:hover .overlay-head {
  display: none;
}
.judiciary-items:hover .overlay-body {
  transform: translateY(-10px);
}
.judiciary-items:hover .overlay-body > h5,
.judiciary-items:hover .overlay-body > p {
  color: var(--white-color);
}
.judiciary-items--overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    261.99deg,
    #ffe3dd 2.82%,
    #fff8da 17.1%,
    rgba(255, 249, 221, 0) 31.78%,
    hsla(0, 100%, 90%, 0.04) 50.27%,
    rgba(255, 249, 221, 0.35) 67.28%,
    #ffeee9 77.89%,
    rgba(255, 238, 233, 0.14) 91.09%
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}
.overlay-head {
  font-size: 35px;
  font-weight: 400;
  color: black;
  transition: 0.5s;
}
.overlay-body {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  transition: 0.5s;
}
.overlay-body > h5 {
  font-size: 29px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}
.overlay-body > p {
  color: var(--theme-black-color);
  margin-bottom: 40px;
  font-weight: 600;
}
.button-grp > button {
  border: none;
  background-color: var(--white-color);
  color: var(--theme-black-color);
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  padding: 10px 18px;
  margin: 0px 7px 10px 0px;
}
/* ! Coaching Programs Section End */
/* ! Why Choose Section Start */
.why-points-image > img {
  width: 28px;
}
.why-points--content > h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--theme-black-color);
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--para-color);
}
/* ! Why Choose Section End */
/* ! Meet Mentors Section Start */
.mentor-box>figure{
    margin: 0;
}
.mentorInfo{
    background-color: #FFDC44;
    padding: 30px 10px 10px;
    border-radius: 20px 20px 0px 0px;
}
.mentorInfo>h6{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--primary-color);
}
.mentorInfo>p{
    color: var(--theme-black-color);
    margin-bottom: 10px;
}
/* ! Meet Mentors Section End */
/* ! Our Toppers Section Start */
.main-OurToppers{
    background: url('../images/learners-bg.webp') no-repeat;
}
.topper-box{
    border: 0.1px solid white;
    position: relative;
    padding: 0px 20px;
}
.topper-box:hover .playIcon{
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0,0.3);
}
.playIcon{
    border-radius: 50%;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ! Our Toppers Section End */
/* ! Recent News Section Start */
.common-H3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 39px;
  text-align: center;
  color: var(--theme-black-color);
}
.news1 > figure {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 220px;
  transition: 0.5s;
  overflow: hidden;
}
.news1:hover .news-overlay {
  display: block;
}
.news1:hover .news1-img {
  transform: scale(1.03);
}
.news1 > figure > img {
  width: 100%;
  height: 100%;
}
.news1 > figure > .news-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.news-content > span {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: var(--primary-color);
}
.news-content > h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--theme-black-color);
  margin: 10px 0px;
  transition: 0.2s;
}
.news-content > h4:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.newsBtn {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 12px 20px;
}
.fa-arrow-right {
  transform: rotate(-40deg);
}
/* ! Recent News Section End */
/* ! FAQs Section Start */
.main-faq{
    background-color: #F1F1F1;
}
.accordion-flush>.accordion-item,.accordion-button{
    background-color: transparent;
}
.accordion-button{
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
/* ! FAQs Section End */
/* ! Footer Section Start */
footer{
  background-color: var(--secondary-color);
}
.footer-logo{
  width: 200px;
  margin-bottom: 20px;
}
.footer1 p{
  font-style: 15px;
  font-weight: 300;
  line-height: 24px;
  color: #eaecf0;
}
.infoGrp>span{
  color: #EAECF0;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.infoGrp>span:hover, .footer1 p:hover{
  cursor: pointer;
  color: var(--white-color);
}
.footer2>p>a{
  color: var(--para-color);
  text-decoration: none;
}
.footer2>p>a:hover{
  cursor: pointer;
  color: #EAECF0;
}
.footer2>ul>li{
  color: var(--para-color);
}
.footer2>ul>li:nth-child(1):hover{
  color: #0088CC;
}
.footer2>ul>li:nth-child(2):hover{
  color: #316FF6;
}
.footer2>ul>li:nth-child(3):hover{
  color: #962FBF;
}
.footer2>ul>li:nth-child(4):hover{
  color: red;
}
/* ! Footer Section End */


/* * onlineCourses.html File Start */
/* ! Regular Live Classes Section Start */
.pointsGrp>span{
  background-color: #F6EFEF;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--para-color);
  border-radius: 5px;
}
.pointsGrp>span>strong{
  color: #667085;
}
.course-head>button{
  border: 1px solid #ccc;
  color: var(--theme-black-color);
  border-radius: 5px;
}
.fa-chevron-right{
  font-size: 10px;
}
.live-courses>h2{
  margin: 10px 0px;
}
/* ! Regular Live Classes Section End */
/* * onlineCourses.html File End */
/* * studyMaterial.html File Start */
.material-content>h4{
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--theme-black-color);
}
.material-content .stars>i{
  color: #F2C94C;
}
.material-content .sSpan{
  color: var(--para-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.material-content ul>li{
  list-style: square;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--theme-black-color);
  margin-bottom: 5px;
}
/* * studyMaterial.html File End */
/* * testSeries.html File Start */
/* ! Regular Packages Classes Section Start */
.testSeries-items h3{
  max-width: 220px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.testSeries-items button{
  border: 1px solid #ccc;
}
.testSeries-items button:hover{
  color: var(--white-color) !important;
}
.testSeries-items #pos-badge{
  top: 40px;
  right: -25px;
  transform: rotate(-90deg);
  border-radius: 5px 0px 0px 5px;
  background-color: #27AE60 !important;
}
/* ! Regular Packages Classes Section End */
/* * testSeries.html File End */